<footer>
    <hr />
    <div class="bagianfooter">
      <div class="logometeo">
        <img src="gambar/gambar/bmkg3.jpeg" alt="logobmkg2" />
        <div class="alamat-kantor">
          <h4>Stamet Sultan Syarif Kasim II Pekanbaru</h4>
          <p>
            Jl. Pahlawan kerja Gg. Buntu, Kec. Marpoyan Damai,<br />
            Provinsi Riau<br />
            28125
          </p>
        </div>
        <div class="alamat-kantor2">
          <h4>Contact Person</h4>
          <p>
            081176000663
          </p>
        </div>
        <div class="alamat-kantor3">
          <h4>Email:</h4>
          <p>analisabmkgpku@gmail.com</p>
         
        </div>
      </div>
      <div class="link-bmkg-section">
        <h4>Ikuti Kami</h4>
        <div class="social-icons">
          <a href="https://www.instagram.com/infocuacariau/">
            <img src="gambar/gambar/instagram.jpg" alt="Logo Instagram" class="gambarfooter" />
          </a>
          <p>infocuacariau</p>
          <a href="https://x.com/bmkgpku">
            <img src="gambar/gambar/twitter.jpg" alt="Logo Twitter" class="gambarfooter" />
          </a>
          <p>BMKG Pekanbaru</p>
          <a href="https://www.youtube.com/c/BMKGPekanbaru">
            <img src="gambar/gambar/youtube.jpg" alt="Logo YouTube" class="gambarfooter" />
          </a>
          <p>BMKG Pekanbaru</p>
        </div>
      </div>
    </div>
  </footer>
  