<link rel="stylesheet" href="/Layout/Layout/styleheader.css" />
<nav class="navbar">
  <div class="navbar-left">
    <img src="/gambar/gambar/logo.png" alt="logo bmkg" class="navbar-logo" />
  </div>
  <div class="navbar-center">
    <h5 class="navbar-title">BADAN METEOROLOGI, KLIMATOLOGI DAN GEOFISIKA</h5>
    <h6 class="navbar-subtitle">STASIUN METEOROLOGI SULTAN SYARIF KASIM II</h6>
    <p class="navbar-contact">Bandar Udara Sultan Syarif Kasim II Pekanbaru (28284) Riau</p>
    <p class="navbar-contact">Telp. (0761) 737014, Fax. (0761) 736990</p>
      <p class="navbar-contact">email: stamet.pekanbaru@bmkg.go.id</p>
  </div>
  <div class="navbar-right">
    <ul class="navbar-menu">
      <li><a href="/dashboard.php">Beranda</a></li>
      <li><a href="/Data.php">Print Data</a></li>
      <li><a href="/Data2.php">Graph</a></li>
      <li><a href="/handlers/upload.php">Upload File</a></li>
      <li><a href="/halaman_login.php">Log Out</a></li>
    </ul>
  </div>
</nav>
